#
# This configuration configures networking components with SSL Lite
#

# Enable just minimal components in OS side of tree
nu.os.enable=false
nu.os.drvr.serial.enable=true
nu.os.kern.plus.enable=true
nu.os.kern.devmgr.enable=true
nu.os.kern.rtl.enable=true
nu.os.kern.eqm.enable=true
nu.os.svcs.init.enable=true
nu.os.svcs.registry.enable=true
nu.os.svcs.appinit.enable=true
nu.os.drvr.cpu.enable=true

# Add NET/IPv4 support
nu.os.net.stack.enable=true

# Enable OS Ethernet driver
nu.os.drvr.eth.enable=true

# Enable MQTT Client and SSL Lite
nu.os.net.mqtt.mqttclient.enable=true
nu.os.net.mqtt.mqttclient.enable_mqtt_tls=true
nu.os.net.ssl.lite.enable=true

# Include the platform specific minimum net config
nu.bsp.enable=false
${platform}.enable=false
.include "bsp/${platform}/config/${platform}.min_net.config"
